body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121212; /* Dark theme background */
  color: #e0e0e0; /* Dark theme text */
  display: flex;
  justify-content: center;
  height: 100vh;
}

#root {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
